* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
:root {
    --header-text-color:white;
}

header {
    background-image: url(../img/header/header_background.jpg);
    color: var(--header-text-color);
}